/* ------------------------ GENERAL ------------------------ */

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 2%;
  padding: 0px;
  background-color: #6d7a8e;
  color: #FFF;
}

h1{
  font-size: 4em;
  margin-bottom: 0px;
}

h4{
  font-size: 1.4em;
  color: #AAD9ED;
  text-align: center;
}

h5{
  font-size: 1em;
  color: #7bbbd8;
}

hr{
  color: #d3d4d1;
  width: 75%;
}

span{
  font-size: 1em;
  color: #7bbbd8;
}

a{
  color: #ce8be8;
  text-decoration: none;
}

a:hover {
  background-color: #005262;
}

.left_container {
  position: absolute;
  display: table;
  height: 100%;
  margin-top: -1.5em;
}

.title {
  height: 100%;
  width: 100%;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}

.menu {
  overflow: hidden;
  padding: 2%;
  font-variant: small-caps;
  color: #9199A7;
}

.menu a {
  color: #75eacd;
}

.menu h2{
  margin: 0px;
  float: left;
}

.menu_buttons {
  float: right;
}
.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.tile{
  flex-grow: 1;
  border-color: #2DC29D;
  border-style: solid;
  padding: 1%;
  width: 25%;
  min-width: 200px;
  margin: 1%;
  text-align: center;
}

.tile img{
  flex: 1 1 0;
  max-width: -webkit-fill-available;
  object-fit: scale-down;
  object-position: top right;
}

.centered{
  text-align: center;
  padding: 0% 20%;
  font-size: 1.5em;
}

.box{
  display: inline-block;
  margin: 0% 10%;
}

.large{
  font-size:2em;
  padding: 10% 3% 10% 3%;
}

.small{
  font-size:.6em;
}
